.content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	//align-items: center;
	//flex-wrap: wrap;
	flex: 1 0 50%;
}

.text{
	font-size: 1.3rem;
	text-align: left;
	transition: .5s;

	&:not(:last-child){
		margin-bottom: 30px;
	}
}

.img{
	width: 70%;
}